:root{
    --primary-color:darkblue;
    --padding-nav: 10px;
    --padding-link: 20px;
    --padding-main: 2px;
    --padding-p: 0;
    --padding-aside: 1em;
    --height-auto: auto;
    --align-text: center;